@import "~@fluentui/react/dist/sass/References.scss";

.test-spfx {
  background-color: #fff;
}
.container {
  background-color: rgb(221, 255, 136);
}
table,
td,
th {
  border: 1px solid #00ff00;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
// Card View
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-div {
  background-color: cyan;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 20%;
  border-radius: 12px;
  padding: 8px 12px;
  overflow: hidden;
}

.card-div p {
  margin: 0;
}

// Responsive
@media only screen and (max-width: 1440px) {
  .card-div {
    background-color: yellow;
  }
}
@media only screen and (max-width: 1024px) {
  .card-div {
    background-color: blue;
  }
}

@media only screen and (max-width: 768px) {
  .card-div {
    background-color: rgb(255, 0, 208);
  }
}

@media only screen and (max-width: 500px) {
  .card-div {
    background-color: rgb(0, 255, 55);
    width: 100%;
  }
}
